*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
} 
.landing{
   background: url("travel.jpg");
   background-size: cover;
   background-position: center;
   height: 100vh;
}
.landing h1{
   text-align:center;
   font-size: 30px;
   color: black;
   padding-top: 100px;
}
.landing p{
   text-align:center;
   font-size: 25px;
   color: black;
   padding-top: 0;

}
.button{
   text-align: center;
   font-size: 15px;
   color:black;
   padding-top: 0;
}
 /* #heading{
    color: rgb(5, 5, 5);
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    font-size:x-large;
    font-weight:bold;
 }
 h1{
    color: rgb(255, 0, 0);
    font-style: italic;
    text-transform: uppercase;
 }
 h2{
    color: rgb(201, 39, 237);
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
 }
 h3{
    color: rgb(64, 245, 14);
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
 }
 p{
    color: rgb(226, 43, 43);
    font-style: italic;
    text-transform: uppercase;
 } */
